NET "led_counter_0_LED_pin[0]" LOC = T22;
NET "led_counter_0_LED_pin[0]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[1]" LOC = T21;
NET "led_counter_0_LED_pin[1]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[2]" LOC = U22;
NET "led_counter_0_LED_pin[2]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[3]" LOC = U21;
NET "led_counter_0_LED_pin[3]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[4]" LOC = V22;
NET "led_counter_0_LED_pin[4]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[5]" LOC = W22;
NET "led_counter_0_LED_pin[5]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[6]" LOC = U19;
NET "led_counter_0_LED_pin[6]" IOSTANDARD = LVCMOS33;
NET "led_counter_0_LED_pin[7]" LOC = U14;
NET "led_counter_0_LED_pin[7]" IOSTANDARD = LVCMOS33;
